body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

table {
  border-collapse: collapse;
}

td {
  font-size: 10px;
  width: 30px;
  height: 30px;
  text-align: center;
  border: 1px solid black;
  background-color: rgb(5, 69, 5);
  color: #fff;
  box-sizing: border-box;
  cursor: pointer;
}

.alive {
  background-color: #000;
}
